
<div class="col-sm-3 gy-3 gx-2">
  <%= select_tag :load_c,
    options_for_select(["AL - Albania", "AD - Andorra", "AM - Armenia", "AT - Austria", "AZ - Azerbaijan", "BA - Bosnia and Herzegovina", "BE - Belgium", "BG - Bulgaria", "BY - Belarus", "CH - Switzerland", "CY - Cyprus", "CZ - Czech Republic", "DE - Germany", "DK - Denmark", "EE - Estonia", "ES - Spain", "FI - Finland", "FR - France", "GE - Georgia", "GR - Greece", "HR - Croatia", "HU - Hungary", "IE - Ireland", "IS - Iceland", "IT - Italy", "LV - Latvia", "LI - Liechtenstein", "LT - Lithuania", "LU - Luxembourg", "MK - Macedonia", "MD - Moldova", "ME - Montenegro", "NL - Netherlands", "NO - Norway", "PL - Poland", "PT - Portugal", "RO - Romania", "RS - Serbia", "RU - Russia", "SE - Sweden", "SI - Slovenia", "SK - Slovakia", "TR - Turkey", "UA - Ukraine", "UK - United Kingdom", "XK - Kosovo"], params[:load_c]),
    class: "select2",
    style: "width: 100%;",
    prompt: I18n.t('load_c')
  %>
</div>
<div class="col-sm-3 gy-3 gx-2">
  <%= select_tag :unload_c,
    options_for_select(["AL - Albania", "AD - Andorra", "AM - Armenia", "AT - Austria", "AZ - Azerbaijan", "BA - Bosnia and Herzegovina", "BE - Belgium", "BG - Bulgaria", "BY - Belarus", "CH - Switzerland", "CY - Cyprus", "CZ - Czech Republic", "DE - Germany", "DK - Denmark", "EE - Estonia", "ES - Spain", "FI - Finland", "FR - France", "GE - Georgia", "GR - Greece", "HR - Croatia", "HU - Hungary", "IE - Ireland", "IS - Iceland", "IT - Italy", "LV - Latvia", "LI - Liechtenstein", "LT - Lithuania", "LU - Luxembourg", "MK - Macedonia", "MD - Moldova", "ME - Montenegro", "NL - Netherlands", "NO - Norway", "PL - Poland", "PT - Portugal", "RO - Romania", "RS - Serbia", "RU - Russia", "SE - Sweden", "SI - Slovenia", "SK - Slovakia", "TR - Turkey", "UA - Ukraine", "UK - United Kingdom", "XK - Kosovo"], params[:unload_c]),
    class: "select2",
    style: "width: 100%;",
    prompt: I18n.t('unload_c')
  %>
</div>

<div class="col-sm-2 gy-3 gx-2">
  <%= select_tag :truck_type,
    options_for_select(["Tautliner", "Tandem", "Mega", "Frigo", "Platform", "Combi", "Truck (under 7.5t)"], params[:truck_type]),
    class: "select2",
    style: "width: 100%;",
    id: "select_truck",
    prompt: I18n.t('truck_type')
  %>
</div>

<div class="col-sm-2 gy-3 gx-2">

  <%= date_field_tag(:load_date,
    value = params[:load_date],
    placeholder: I18n.t('load_date'),
    class: "datepicker",
    style: "width: 100%; border-radius: 0.25rem; padding: 0.3rem 0.5rem; height: 2.25rem; border-width: thin; border-style: solid; border-color: #CED4D9; background-color: white;")
  %>

</div>

<div class="col-sm-2 gy-3 gx-2">
  <%= submit_tag I18n.t('search'),
    class: "btn btn-primary w-100 text-white rounded",
    style: "padding: 0.3rem;"
  %>
</div>
