<div class="navbar navbar-expand-sm bg-white  navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logoo.png", class: "m-0 rounded-2" %>
      <h5 class= "mx-2 my-0"><strong>cargster</strong></h5>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <% if current_page?(posts_path) %>
          <%= link_to "Search", posts_path, class: "nav-link text-black text-center" %>
          <% else %>
          <%= link_to "Search", posts_path, class: "nav-link text-center" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_page?(myposts_path) %>
          <%= link_to "My posts", myposts_path, class: "nav-link text-black text-center" %>
          <% else %>
          <%= link_to "My posts", myposts_path, class: "nav-link text-center" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_page?(profile_path) %>
          <%= link_to "Account", profile_path, class: "nav-link text-black text-center" %>
          <% else %>
          <%= link_to "Account", profile_path, class: "nav-link text-center" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_page?(new_post_path) %>
            <%= link_to "+ Create a post", new_post_path, class: "nav-link btn btn-primary text-white disabled" %>
          <% else %>
            <%= link_to "+ Create a post", new_post_path, class: "nav-link btn btn-primary text-white" %>
          <% end %>
        </li>
        <% else %>
        <li class="nav-item active">
          <%= link_to "Login", new_user_session_path, class: "nav-link text-center" %>
        </li>
        <li class="nav-item">
          <%= link_to "Registration", new_user_registration_path, class: "nav-link text-center" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
