<div class="navbar navbar-expand-sm shadow-sm bg-white  navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logoo.png", class: "m-0 rounded-2" %>
      <h5 class= "mx-2 my-0"><strong>cargster</strong></h5>
    <% end %>
    <% if !current_page?(root_path) %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% elsif !user_signed_in? %>
      <%= link_to I18n.t('login'), new_user_session_path, class: " text-muted d-lg-none my-2 mx-1" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item m-2 active">
          <% if current_page?(root_path) %>
          <%= link_to I18n.t('home'), root_path, class: "nav-link text-truncate text-black text-center" %>
          <% else %>
          <%= link_to I18n.t('home'), root_path, class: "nav-link text-truncate text-center" %>
          <% end %>
        </li>
        <li class="nav-item m-2">
          <% if current_page?(posts_path) %>
          <%= link_to I18n.t('freight_overview'), posts_path, class: "nav-link text-truncate text-black text-center" %>
          <% else %>
          <%= link_to I18n.t('freight_overview'), posts_path, class: "nav-link text-truncate text-center" %>
          <% end %>
        </li>
        <li class="nav-item m-2">
          <% if current_page?(myposts_path) %>
          <%= link_to I18n.t('my_posts'), myposts_path, class: "nav-link text-truncate text-black text-center" %>
          <% else %>
          <%= link_to I18n.t('my_posts'), myposts_path, class: "nav-link text-truncate text-center" %>
          <% end %>
        </li>
        <li class="nav-item m-2 d-none">
          <% if current_page?(profile_path) %>
          <%= link_to I18n.t('account'), profile_path, class: "nav-link text-truncate text-black text-center" %>
          <% else %>
          <%= link_to I18n.t('account'), profile_path, class: "nav-link text-truncate text-center" %>
          <% end %>
        </li>
        <li class="nav-item my-2" style="margin-left: 0">
          <% if current_page?(new_post_path) %>
            <%= link_to I18n.t('create_new'), "#", class: "btn btn-outline-primary w-100 disabled"%>
          <% else %>
            <%= link_to I18n.t('create_new'), new_post_path, class: "btn btn-outline-primary w-100 text-nowrap"%>
          <% end %>
        </li>
        <% else %>
        <li class="nav-item m-2 active">
          <%= link_to I18n.t('login'), new_user_session_path, class: "nav-link text-truncate text-center" %>
        </li>
        <li class="nav-item m-2">
          <%= link_to I18n.t('register'), new_user_registration_path, class: "nav-link text-truncate text-center" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

