<div class="row mb-1 p-2 <% if post.status == false %>inactive<% end %> rounded bg-white" style="margin: 0.25rem 0;">

  <div class="col-sm-6">
    <div class="d-flex align-items-center justify-content-between">
      <p class="my-1" ><i class="bi bi-geo-alt text-secondary"></i>  <%= post.load_c.first(2) %> <%= post.load_city %></p>

      <p class="my-1 text-end" ><i class="bi bi-geo-alt text-secondary"></i> <%= post.unload_c.first(2) %> <%= post.unload_city %> </p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="d-flex align-items-center justify-content-between">
      <p class="my-1"><i class="bi bi-calendar text-secondary"></i>  <%= post.load_date.try(:strftime, ("%d %b")) %>  </p>
      <p class="my-1"><i class="bi bi-truck"></i>  <%= post.truck_type %> </p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="d-flex align-items-center justify-content-between">
      <p class="my-1"><i class="bi bi-arrows-angle-expand"></i>  <%= post.length %>m<p>
      <p class="my-1"><i class="bi bi-minecart-loaded"></i>  <%= post.weight %>t</p>
    </div>
  </div>

</div>
