<% if @my_posts.size != 0 %>
  <% @my_posts.each do |my_post| %>
    <%= link_to new_post_path(repost: {load_c: my_post.load_c, load_city: my_post.load_city, load_address: my_post.load_address, unload_c: my_post.unload_c, unload_city: my_post.unload_city, unload_address: my_post.unload_address, length: my_post.length, weight: my_post.weight, description: my_post.description, truck_type: my_post.truck_type }) do %>
    <div class="bg-white rounded p-4 mb-2 shadow-sm mx-0" style="">
      <div class="d-flex justify-content-between">
        <p class="text-nowrap text-truncate" style=""><span class="fi fi-<%= my_post.load_c.first(2).downcase %>"></span> <strong><%= my_post.load_city.tr("0-9", "") %></strong></p>
        <p class="m-0"><i class="fa fa-sm text-primary opacity-50 fa-thin fa-arrow-right"></i></p>

        <p class="text-nowrap text-truncate" style=""><strong><%= my_post.unload_city.tr("0-9", "") %></strong> <span class="fi fi-<%= my_post.unload_c.first(2).downcase %>"></span></p>
      </div>
    <p class="m-0 text-nowrap overflow-hidden"><% my_post.truck_type.drop(1).each do |truck| %><span class="suggestions-selected"><%= truck %></span><% end %><span class="suggestions-selected"><%= my_post.length %>m</span><span class="suggestions-selected"><%= my_post.weight %>t</span></p>
    </div>
    <% end %>
  <% end %>
<% else %>
<div class="bg-white rounded mb-2 mx-0 p-3 d-flex justify-content-between">
  <p class="m-0"><%= t('.no_suggestions') %></p>
</div>
<% end %>
<div class="my-3 d-flex justify-content-center">
<%= will_paginate @my_posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
