<div class="banner" style="background-color: rgb(255,255,255); height: 100vh; background-image:linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url(<%= image_path("bg.svg")%>);">
  <div class="container">
    <div class="pt-5">
      <h2 class="animate__tada text-center fancy my-4"><%= t('hello') %></h2>
      <div class="d-none d-lg-block">
      <%= form_tag posts_path, method: :get, class: "row gx-2 my-2" do %>
      <%= render "/shared/filter" %>
      <% end %>
      </div>
      <div class="d-lg-none">
        <%= link_to I18n.t('freight_overview'), posts_path, class: "btn btn-outline-primary w-100 mb-2" %>
        <%= link_to I18n.t('create_new'), new_post_path, class: "btn btn-primary text-white w-100" %>
      </div>
    </div>
  </div>
  <%= render "/shared/footer" %>
</div>




