<div class="container">
  <%= form_tag myposts_path, method: :get, class: "row gx-2 my-2" do %>
  <%= render '/shared/filter' %>
  <% end %>
  <% if current_user.posts.count == 0 %>
  <p class="text-center mt-5"><%= t('void') %></p>
  <%= image_tag "void.svg", class: "rounded mx-auto d-block mt-3", style: "height: 33vh; width: 50%;" %>
  <% else %>
  <% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <%= render '/shared/post', post: post %>
  <% end %>
  <% end %>
  <% end %>
  <div class="mb-3 d-flex justify-content-center">
  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
