<div class="container">
  <%# TABS %>


  <nav class="my-2">
    <div class="nav nav-tabs border-0 rounded radius" id="nav-tab" role="tablist">
      <button class="nav-link custom-tab w-50 active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><%= t('search_freight') %></button>
      <button class="nav-link custom-tab w-50" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><%= t('search_truck') %></button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <%# PONUDA NA TOVAR %>
    <%# Filter %>

    <%= form_tag posts_path, method: :get, class: "row gx-2" do %>
    <%= render "/shared/filter" %>
    <% end %>


    <div>
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
      </a>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
    </div>
    <%# Info bar %>

    <%# Lista na tovari %>
    <% unless @posts.count == 0 %>
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
      <%= render "/shared/post", post: post %>
      <% end %>
    <% end %>
    <% else %>
    <p class="text-center mt-5"><%= t('void') %></p>
    <%= image_tag "void.svg", class: "rounded mx-auto d-block mt-3", style: "height: 33vh; width: 50%;" %>
    <% end %>

    <div class="mb-3 d-flex justify-content-center">
    <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <%# PONUDA NA KAMION %>
    <p class="text-center mt-5"><%= t('under_construction') %></p>
    <%= image_tag "construction.svg", class: "rounded mx-auto d-block mt-3", style: "height: 33vh; width: 50%;" %>
    </div>
  </div>

</div>
