<div class="container">
  <div class="row g-0 mt-2">
    <%# MY POSTS LIST %>

    <div class="col-sm-4" style="padding-right: 0.5rem; padding-left: 0rem; overflow: hidden;" >

      <% @my_posts.each do |my_post| %>
      <%= link_to new_post_path(repost: {load_c: my_post.load_c, load_city: my_post.load_city, load_address: my_post.load_address, unload_c: my_post.unload_c, unload_city: my_post.unload_city, unload_address: my_post.unload_address, length: my_post.length, weight: my_post.weight, description: my_post.description, truck_type: my_post.truck_type }) do %>
      <div class="bg-white rounded mb-2 mx-0 p-3 d-flex justify-content-between">
        <p class="m-0"><%= my_post.load_c.first(2) %> - <%= my_post.unload_c.first(2) %></p>
        <p class="m-0"><%= my_post.truck_type %> - <%= my_post.length %>m - <%= my_post.weight %>t</p>
      </div>
      <% end %>
      <% end %>

    </div>

    <%# CREATE POST FORM %>
    <div class="col-sm-8 bg-white rounded p-3">
      <%= simple_form_for(@post, method: :post, url: create_path, multipart: true) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <%= f.input :load_c, label: "Утовар во", prompt: "Држава", collection: @countries %>
              </div>
              <div class="col-6">
                <%= f.input :load_city, label: "Град", placeholder: "Пoштенски број + Место" %>
              </div>
            </div>
            <%= f.input :load_address, label: "Адреса на утовар", placeholder: "Целосна адреса" %>

            <div class="row">
              <div class="col-6">
                <%= f.input :load_date, as: :date, html5: true, label: "Датум на утовар" %>
              </div>
              <div class="col-6">
                <%= f.input :load_time, as: :time, html5: true, label: "Време на утовар" %>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <%= f.input :unload_c, label: "Истовар во", prompt: "Држава", collection: @countries %>
              </div>
              <div class="col-6">
                <%= f.input :unload_city, label: "Град", placeholder: "Пoштенски број + Место" %>
              </div>
            </div>
            <%= f.input :unload_address, label: "Адреса на истовар", placeholder: "Целосна адреса" %>
            <div class="row">
              <div class="col-6">
                <%= f.input :unload_date, as: :date, html5: true, label: "Датум на истовар" %>
              </div>
              <div class="col-6">
                <%= f.input :unload_time, as: :time, html5: true, label: "Време на истовар" %>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <%= f.input :truck_type, label: "Тип Камион", prompt: "Тип на камион", collection: ["Церада", "Тандем", "Фриго", "Комбе"] %>
              </div>
              <div class="col-6">
                <%= f.input :adr, label: "АДР"%>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <%= f.input :weight, label: "Тежина", placeholder: "Во тони" %>
              </div>
              <div class="col-6">
                <%= f.input :length, label: "Должина", placeholder: "Во метри" %>
              </div>
            </div>
          </div>
        </div>
        <%= f.input :description, label: "Опис", placeholder: "Повеќе детали во врска со транспортот" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Креирај", class: "btn btn-primary text-white w-100" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


