<div class="container">
  <% if policy(@post).edit? %>
  <div class="bg-white rounded d-flex justify-content-between align-items-center p-3 mt-2 d-flex">
    <p class="m-0 fancy fw-bolder text-nowrap text-truncate"><%= t('actions') %></p>
    <div class="d-flex justify-content-between">
    <%= link_to I18n.t('template_btn'), new_post_path(repost: {load_c: @post.load_c, load_city: @post.load_city, load_address: @post.load_address, unload_c: @post.unload_c, unload_city: @post.unload_city, unload_address: @post.unload_address, length: @post.length, weight: @post.weight, description: @post.description, truck_type: @post.truck_type }), class: "btn btn-outline-primary btn-sm text-nowrap text-truncate m-0" %>
    <% if @post.status? %>
    <%= link_to I18n.t('edit_btn'), edit_post_path, class: "btn btn-outline-primary text-nowrap text-truncate mx-2 btn-sm m-0" %>
    <%= link_to I18n.t('solved_btn'), change_status_path(@post), method: :patch, :data => {:confirm => t('r_u_sure')}, class: "btn btn-outline-danger btn-sm text-nowrap text-truncate" %>
    <% end %>
    </div>
  </div>
  <% end %>
  <div class="row gx-2 mt-1">
    <div class="col-sm-6">
      <div class="bg-white rounded my-1 p-3">
        <p class="fancy fw-bolder"><%= t('contact') %></p>
        <div class="d-flex justify-content-between">
          <p><i class="bi bi-person"></i> <%= @user.first_name %> <%= @user.last_name %></p>
          <p><i class="bi bi-building"></i> <%= @user.company_name %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><i class="bi bi-telephone-outbound"></i> <%= @user.mobile_nr %></p>
          <div class="d-flex justify-content-between">
            <% if @user.viber? %>
            <p style="color: purple"><i class="bi bi-whatsapp"></i> <%= link_to "Viber", "viber://chat?number=%2B#{@user.mobile_nr}", style: "color: purple" %></p>
            <% end %>
            <% if @user.whatsapp %>
            <p class="ml-2"><i class="bi bi-whatsapp text-primary"></i> <%= link_to "Whatsapp", "https://wa.me/#{@user.mobile_nr}", target: :_blank, class: "text-primary" %></p>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <p class="m-0"><i class="bi bi-envelope"></i> <%= @user.email %></p>
          <p class="m-0"><%= @posts_count %> <%= t('.times_posted') %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="bg-white rounded my-1 p-3">
        <p class="fancy fw-bolder"><%= t('freight') %></p>
        <p><i class="bi bi-truck"></i> <%= @post.truck_type.drop(1).join(", ") %></p>
        <div class="d-flex justify-content-between">
          <p ><i class="bi bi-minecart-loaded"></i>  <%= @post.weight %> tons</p>
          <p ><i class="bi bi-arrows-angle-expand"></i> <%= @post.length %> meters</p>
        </div>
        <p class="m-0"><i class="bi bi-cash-coin"></i>
        <% if @post.price? %> <%= @post.price %>
        <% else %>
        <%= "Price not set" %>
        <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="row gx-2">
    <div class="col-sm-6">
      <div class="bg-white rounded my-1 p-3">
        <p class="fancy fw-bolder"><%= t('loading') %></p>
          <div class="d-flex justify-content-between">
            <p><i class="bi bi-flag"></i> <%= @post.load_c %></p>
            <p><i class="bi bi-signpost"></i> <%= @post.load_city %></p>
          </div>
          <p><i class="bi bi-geo-alt"></i> <%= @post.load_address %></p>
          <div class="d-flex justify-content-between">
            <p class="m-0"><i class="bi bi-calendar-check"></i> <%= @post.load_date.try(:strftime, ("%d %b")) %></p>
            <p class="m-0"><i class="bi bi-alarm"></i> <%= @post.load_time.try(:strftime, ("%H:%M")) %></p>
          </div>

      </div>
    </div>

    <div class="col-sm-6">
      <div class="bg-white rounded my-1 p-3">
        <p class="fancy fw-bolder"><%= t('unloading') %></p>
          <div class="d-flex justify-content-between">
            <p><i class="bi bi-flag"></i> <%= @post.unload_c %></p>
            <p><i class="bi bi-signpost"></i> <%= @post.unload_city %></p>
          </div>
          <p><i class="bi bi-geo-alt"></i> <%= @post.unload_address %></p>
          <div class="d-flex justify-content-between">
            <p class="m-0"><i class="bi bi-calendar-check"></i>
            <% if @post.unload_date? %>
            <%= @post.unload_date.try(:strftime, ("%d %b")) %>
            <% else %>
            <%= "Optimal" %><% end %></p>
            <p class="m-0"><i class="bi bi-alarm"></i>
            <% if @post.unload_time? %> <%= @post.unload_time.try(:strftime, ("%H:%M")) %>
            <% else %>
            <%= "Optimal" %><% end %></p>
          </div>

      </div>
    </div>
  </div>
  <div class="bg-white rounded mt-1 mb-2 p-3">
    <p class="fancy fw-bolder"><%= t('description') %></p>
    <p class="m-0"><i class="bi bi-book"></i>
    <% if @post.description? %>
    <%= @post.description %>
    <% else %>
    <%= I18n.t('no_info') %><% end %></p>
  </div>
</div>
